body
{
	/*
		-Sobre o "atributo" position, a primeira variavel 
		garante o centro horizontal e a segunda 
		desce 165px em relação ao topo 
	*/

	background: url(wikiback.png);
	background-position: center 165px;
	background-repeat: no-repeat;
	font-family: sans-serif;
}

.bigWord
{
	font-size: 40px;
}

	/* Sublinha o texto apenas quando passar o mouse
		por cima */
.lingua:hover
{
	text-decoration: underline;
}

.link
{
	text-decoration: none;
}

.artigos
{
	font-family: monospace;
	font-size: 75%;
	color: grey;
}

.top
{
	text-align: center;
}

.abaixo
{
	text-align: center;
}

.centro
{
	height: 300px;
	width: 100%;
	/* tamanho da fonte das duas tabelas */
	font-size: 17px;

}

.pesquisa
{
	width: 400px;
}

.centro ul
{
	/* Isto garantiu que a lista não tivesse bolinhas na 
	frente dos itens */
	list-style-type: none;
}

.esquerda
{
	/* Coluna da esquerda jogando o texto para direita */
	float: left;
	width: 50%;
	text-align: right;
	padding: 0px;
}

	/* modo de selecionar cada uma das linhas nas tabelas */

.direita li:nth-of-type(1)
{
	margin-left: 95px;
}

.direita li:nth-of-type(2)
{
	margin-left: 155px;
}

.direita li:nth-of-type(3)
{
	margin-left: 195px;
}

.direita li:nth-of-type(4)
{
	margin-left: 155px;
}

.direita li:nth-of-type(5)
{
	margin-left: 95px;
}

.esquerda li:nth-of-type(1)
{
	margin-right: 95px;
}

.esquerda li:nth-of-type(2)
{
	margin-right: 155px;
}

.esquerda li:nth-of-type(3)
{
	margin-right: 195px;
}

.esquerda li:nth-of-type(4)
{
	margin-right: 155px;
}

.esquerda li:nth-of-type(5)
{
	margin-right: 95px;
}

.direita
{
	/* Coluna da direita ja possui o texto jogado para a esquerda
		(padrão) */
	float: right;
	width: 50%;
	padding: 0px;
}

