body
{
	/*
		-Sobre o "atributo" position, a primeira variavel 
		garante o centro horizontal e a segunda 
		desce 165px em relação ao topo 
	*/

	font-family: sans-serif;
	padding-top: 32px;

}

h1 {
	font-weight: normal;
	font-size: 16px;
	margin-top: 3px;
}

li {
	margin: 16px 0px 16px 0px;
}

.img_wikipedia {
	width: 176px;
	height: 32px;
}

	/* Sublinha o texto apenas quando passar o mouse
		por cima */
.lingua:hover
{
	text-decoration: underline;
}

.link
{
	text-decoration: none;
}

.artigos
{
	font-family: monospace;
	font-size: 75%;
	color: grey;
}

.top
{
	text-align: center;
	margin-top: 16px;
	font-family: Hoefler Text,Baskerville Old Face,Garamond,Times New Roman,serif; 
}

.abaixo
{
	margin-top: 12px;
	width: 100%;
	align-content: center;
	text-align: center;
	align-items: center;

}

.caixa {
	background-color: cornflowerblue;
	padding: 12px 1px 12px 1px;
	display: inline;
	border-radius: 4px;
}

.centro
{
	height: 325px;
	width: 100%;
	/* tamanho da fonte das duas tabelas */
	font-size: 17px;
	background: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2@2x.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 200px;
}

.pesquisa
{
	width: 300px;
	height: 26px;
	padding: 0px;
	margin: 0px;
}

.button_search {
	width: 25px;
	height: 25px;
}

.centro ul
{
	/* Isto garantiu que a lista não tivesse bolinhas na 
	frente dos itens */
	list-style-type: none;
}

.esquerda
{
	/* Coluna da esquerda jogando o texto para direita */
	float: left;
	width: 50%;
	text-align: right;
	padding: 0px;
}

	/* modo de selecionar cada uma das linhas nas tabelas */



.direita li:nth-of-type(1)
{
	margin-left: 95px;
}

.direita li:nth-of-type(2)
{
	margin-left: 155px;
}

.direita li:nth-of-type(3)
{
	margin-left: 195px;
}

.direita li:nth-of-type(4)
{
	margin-left: 155px;
}

.direita li:nth-of-type(5)
{
	margin-left: 95px;
}

.esquerda li:nth-of-type(1)
{
	margin-right: 95px;
}

.esquerda li:nth-of-type(2)
{
	margin-right: 155px;
}

.esquerda li:nth-of-type(3)
{
	margin-right: 195px;
}

.esquerda li:nth-of-type(4)
{
	margin-right: 155px;
}

.esquerda li:nth-of-type(5)
{
	margin-right: 95px;
}

.direita
{
	/* Coluna da direita ja possui o texto jogado para a esquerda
		(padrão) */
	float: right;
	width: 50%;
	padding: 0px;
}

