.abaixo
{
	width: 100%;
	display: flex;
	justify-content: center;
}

.busca_bg {
	height: 40px;
	border: 1px solid #447ff5;
}

.inputText {
	height: 26px;
	padding-top: 6px;
	padding-bottom: 6px;
	border: 0px;
}

.busca {
	display: flex;
	justify-content: center;
}

.searchIcon {
	width: 22px;
	height: 26px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.botaoSearch {
	background-color: #447ff5;
	width: 54px;
	height: 42px;
	display: flex;
	align-items: center;
}

.selectIdioma {
	margin-left: 8px;
	margin-right: 8px;
	border: 0px;
}

.seletorIdioma {
	width: 48px;
	height: 24px;
	text-align: center;
}