
/* sublinhando o idioma ao passar o mouse por cima */

a
{
	text-decoration: none;
}

/* retirando a formatação de h2 e p */

h2, p
{
  	font-weight: normal;
 	margin:0;
}

/* retirando o sublinhado do link */

h2:hover
{
	text-decoration: underline;
}


/* formatando o texto abaixo de cada idioma */

.artigos
{
	font-family: monospace;
	font-size: 13px;
	color: grey;
}


.idioma
{
	font-size: 16px;
	position: absolute;
}

/* Selecionando cada idioma */

.idioma:nth-of-type(1)
{
	top: 0;
	right: 60%;
}

.idioma:nth-of-type(6)
{
	top: 0;
	left: 60%;
}

.idioma:nth-of-type(2)
{
	top: 20%;
	right: 70%;
}

.idioma:nth-of-type(7)
{
	top: 20%;
	left: 70%;
}

.idioma:nth-of-type(3)
{
	top: 40%;
	right: 72%;
}

.idioma:nth-of-type(8)
{
	top: 40%;
	left: 72%;
}

.idioma:nth-of-type(4)
{
	top: 60%;
	right: 70%;
}

.idioma:nth-of-type(9)
{
	top: 60%;
	left: 70%;
}

.idioma:nth-of-type(5)
{
	top: 80%;
	right: 60%;
}

.idioma:nth-of-type(10)
{
	top: 80%;
	left: 60%;
}