html
{
	font-size: 62.5%;
}

body
{
	font-family: sans-serif;
	/* --rem significa tamanho em relação 
	   ao font-size to elemento raiz */
	font-size: 14px;
	/* --altura da linha */
	line-height: 1.5;
	/* --top right bottom left */
	margin: 4px 0 16px 0;
	overflow-x: hidden;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #efefef;
	padding: 16px;
	min-width: 500px;

}

.loggedin {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loggedin-off {
	display: none;
}

.login-submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
}

.login-off {
	display: none;
}

.login input {
	margin-top: 4px;
	margin-bottom: 4px;
	width: 300px;
	border-radius: 4px;
}

.login h3 {
	margin: 0;
}

.login input[type=submit] {
	width: 150px;
	height: 28px;
	background-color: #447FF5;
	color: white;
	font-weight: bold;
	font-size: 1.6rem;
}




@media only screen and (max-width: 320px)
{
	.topo
	{
		margin: 20px 0 0 20px;
		height: 70px;
		width: auto;
		padding: 0;
	}

	.imagem
	{
		top: 0;
		left: 0;
		width: 57px;
		height: auto;
	}

	.centro
	{
		position: absolute;
		top: 150px;
		text-align: center;
	}

	.idioma
	{
		width: 33%;
		margin: 0 0 16px 0;
		font-size: 11px;
		float: left;
		position: relative;
	}

	.idioma:nth-of-type(1)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(6)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(2)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(7)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(3)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(8)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(4)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(9)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(5)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.idioma:nth-of-type(10)
	{
		top: auto;
		right: auto;
		left: auto;
	}

	.abaixo
	{
		margin-top: 0;
		position: absolute;
		height: 78px;
		left: 0;
		right: 0;
	}
}

/* Caixa de Resultados dos Animes */

#search-results
{
	display: flex;
	overflow-x: scroll;
}

.senha-email-invalido {
    color: red;
    text-align: center;
}

.senha-email-invalido h4 {
    margin: 0;
}

